@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px;
}

.header{
    display: inline;
}

.subtitle{
    padding: 2px 0px;
    margin: 0px 20px;
}

.name{
    font-weight: bolder;
    font-size: 2.1rem !important;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: orange;
}

.sub{
    font-weight: bolder;
    font-size: 1rem !important;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: orange;
}

.container{
    margin: auto;
    width: 100%;
    height: 480px;
    text-align: left;
}

.container-subhead{
    margin: auto;
    width: 100%;
    height: 120px;
    text-align: left;
}

.container-center{
    width: 810px;
    height: 100%;
    margin: auto;
    background-color: #222831;
}

.container-center-secondary{
    width: 810px;
    height: 100%;
    margin: auto;
    background-color: #f9813a;
}

.container-secondary-color{
    background-color: #f9813a;
}

.container-off-color{
    margin: -27px 0px;
    background-color: #222831;
    color: #222831;
}

.container-footer{
    background-color: #131518;
    height: 220px;
}

.container-footer-center{
    background-color: #131518;
    width: 810px;
    height: 220px;
    margin: auto;
}

.navbar{
    height: 120PX;
    background-color: #222831;
    color: #f1f6f9;
}

.nav-brand{
    font-size: 22px;
}

.non-bullet{
    list-style: none;
    text-align: right;
    font-size: 1.1rem;
}

.nav-li-items{
    display: inline;
    padding: 1rem 1.5rem;
    text-align: center;
}

.nav-li-items a{
    text-decoration: none;
    color: #f1f6f9;
}

.link-active{
    font-weight: bolder;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.link-active-inverse{
    font-weight: bolder;
    text-decoration: underline;
    font-size: 2.5rem;
    padding: 1.5rem 0.8rem 0rem 1rem;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #222831;
}

.container p{
    color: white;
    font-weight: 600;
}

.img{
    display: inline;
    text-align: center;
}

.img-coding{
    width: 22%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0rem 1rem 0rem;
}

.intro{
    font-size: 22px;
    text-align: center;
}

.invert-color{
    color: #222831;
    font-weight: 900;
    font-size: 2rem;
}

.non-bullet-list{
    list-style: none;
}

.img-skills{
    height: 50px;
}

table,td{
    color: white;
    font-weight: 400;
    border-collapse: collapse;
    text-align: center;
    margin: 1rem 1rem;
    padding: 0.4rem 1.2rem;
}

.skills{
    color: white;
    font-size: 19px;
}

.table-mapping{
    display: inline;
}

.container-center h1{
    text-decoration: underline;
    font-size: 2.5rem;
    padding: 1.5rem 1rem 0rem 1rem;
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
.flex-conatiner h4{
    text-align: center;
    color: black;
    padding: 0rem .5rem;
}  

.flex-conatiner p{
    text-align: justify;
    color: white;
    font-weight: 600;
    padding: 0rem 1rem;
    font-size: 1rem;
}  

.project-links{
    display: flex;
    width: 100%;
}

.project-buttons{
    margin: auto;
    padding: .3rem .6rem;
    border-radius: 5px;
    background-color: #222831;
    color: white;
    font-weight: 100;
    border: 1px #222831 solid;
    text-decoration: none;
}

.project-buttons-secondary{
    margin: auto;
    padding: .3rem .3rem;
    border-radius: 5px;
    background-color: #f9813a;
    color: #222831;
    border: 1px #222831 solid;
    text-decoration: none;
}

.blog-buttons{
    margin: auto;
    padding: .6rem 1rem;
    border-radius: 5px;
    background-color: #222831;
    color: #f9813a;;
    font-weight: 100;
    border: 1px #f9813a solid;
}


.card {
    background: #f9813a;
    border-radius: 10px;
    display: inline-block;
    height: 250px;
    margin: 1.1rem;
    padding: auto;
    position: relative;
    width: 230px;
    border: 1px solid #fd6b17;
  }
  
  .card-1 {
    box-shadow: 0px 24px 36px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 28px 44px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .blog-card{
    background: #222831;
    border-radius: 10px;
    display: inline-block;
    height: 250px;
    margin: 1.1rem;
    padding: auto;
    position: relative;
    width: 230px;
    border: 1px solid #fd6b17;
  }
  
  .blog-card-1 {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.89), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
  }
  
  .blog-card-1:hover {
    box-shadow: 0 12px 12px rgba(209, 97, 6, 0.25), 0 12px 12px rgba(209, 97, 6, 0.25);
  }

  .blog-card h4{
    text-align: center;
    color: #fd6b17;
    padding: 0rem .5rem;
}  

.link-play{
    color: white;
    background-color: #222831;
    text-decoration: none;
}

.link-source-code{
    color : #222831;
    text-decoration: none;
}

.link-blog-read{
    text-decoration: none;
    color : #f9813a;
    font-size: 1rem;
}

.footer-text-div{
    border: 1px solid #131518;
}

.footer-icon{
    margin: 1rem auto 0rem auto;
    width: fit-content;
}

.fa {
    padding: 17px;
    font-size: 30px !important;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 1;
      background : #F9813A;
      color: #131518;
  }
  
  .fa-twitter {
    background: #131518;
    color: #F9813A;
    border : 1px #F9813A solid;
  }
  
  .fa-google {
    background: #131518;
    color: #F9813A;
    border : 1px #F9813A solid;
  }
  
  .fa-linkedin {
    background: #131518;
    color: #F9813A;
    border : 1px #F9813A solid;
  }
  
  .fa-github {
    background: #131518;
    color: #F9813A;
    border : 1px #F9813A solid;
  }
  
  .fa-telegram {
    background: #131518;
    color: #F9813A;
    border : 1px #F9813A solid;
  }

/*CSS for Projects page*/


.section-background{
    background-color: #f9813a;
    width: 100%;
    margin: 0rem 0;
}

.project-card{
    width: 60%;
    margin: 2rem auto;
    background-color: #222831;
    color: white;
}

.project-name{
    font-size: 1.8rem;
    margin: 0rem auto;
}

.project-stack{
    font-size: .9rem;
    margin: 0 auto;
}

.project-description{
    font-size: 1.3rem;
    margin: 0 auto;
}



